body {
	font-family: 'Segoe UI', 'Helvetica Neue', 'Fira Sans', 'Droid Sans', sans-serif;
    text-align: center;
    color: #cacaca;
    background-color: #1D1E20;
}

a {
	color: grey;
	text-decoration: none;
}

a:hover {
	color: #2dbf5b;
}

/*header*/

header {
    display: grid;
	margin: auto;
}

#hi {
	font-size: 2em;
	padding: 15px 0px;
}

.header .nav {
	font-size: 1em;
	justify-content: space-between;
	padding: 20px 0px;
}

.nav_ul, .nav_li {
    display: inline;
	margin: 0;
	padding: 0;
}

.navi_ul {
    flex: 1;
	max-width: 50%;
	display: flex;
	margin: 0;
	padding: 0;
	
}

.nav_li {
    justify-content: space-evenly;
	padding: 10px;
} 

.container_1 {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 20px 10px 20px;
	border-radius: 25px;
    background-color: rgba(165, 42, 42, 0.527);
}

footer {
    background-color: #ffa600d2;
}  

footer ul li{
    display: inline;
    list-style: none;
}
 

#logos {
    
    padding: 1.5% 2%;
	width: 100%;
	max-width: 50px;
}

@media(max-width:720px){

}